<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/admin_layout">
<th:block layout:fragment="content">
  <div class="card shadow mb-4">
    <div class="card-body">
      <form id="searchForm" onsubmit="return false;">
        <div class="mb20" id="adv-search">
          <div class="form-inline">
            <select id="searchStore" class="form-control">
              <option value="">매장 전체</option>
              <option th:each="cditem : ${stlist}" th:value="${cditem.cdId}" th:text="${cditem.cdNm}"></option>
            </select>
            <select id="searchMaterial" class="form-control ml5">
              <option value="">재질 전체</option>
              <option th:each="cditem : ${smlist}" th:value="${cditem.cdId}" th:text="${cditem.cdNm}"></option>
            </select>
            <select id="searchStep" class="form-control ml5">
              <option value="">단계 전체</option>
              <option value="A">주문등록</option>
              <option value="B">주문접수</option>
            </select>
          </div>
          <div class="form-inline mt5">
            <span class="mlr5">접수일</span>
            <input type="date" id="searchStdt" class="form-control mlr5"/> ~
            <input type="date" id="searchEddt" class="form-control mlr5"/>
            <input type="number" id="recordCount" class="form-control mlr5" placeholder="행 개수" min="1" max="100" oninput="fncCheckZero(this);" style="width:100px;"/>
            <input type="text" id="searchWord" class="form-control mlr5" placeholder="고객명/모델번호/제조사 입력" style="width: auto;" />
            <button type="button" onclick="fncSearch(0);" class="btn btn-secondary">
              <span aria-hidden="true" class="glyphicon glyphicon-search">검색</span>
            </button>
            <a href="javascript: void(0);" onclick="fncRefresh(); return false;" class="btn btn-warning waves-effect waves-light mlr5">새로고침</a>
            <span id="write-auth1"></span>
          </div>
        </div>
      </form>
      <div class="table-responsive clearfix">
        <table class="table">
          <thead>
          <tr>
            <th class="text-center">No</th>
            <th class="text-center border-left"><input type="checkbox" onchange="allCheck(this);"/></th>
            <th class="text-center border-left">접수일<br/>입고일</th>
            <th class="text-center border-left">구  분<br/>판매일</th>
            <th class="text-center border-left">매장명<br/>고객명</th>
            <th class="text-center border-left">사진</th>
            <th class="text-center border-left">모델번호</th>
            <th class="text-center border-left">재질<br/>색상</th>
            <th class="text-center border-left">수량</th>
            <th class="text-center border-left">메.스톤<br/>보.스톤</th>
            <th class="text-center border-left">사이즈</th>
            <th class="text-center border-left">기타 설명</th>
            <th class="text-center border-left">제조사<br/>제조사번호</th>
            <th class="text-center border-left">단계</th>
          </tr>
          </thead>
          <tbody id="list"></tbody>
        </table>

        <div class="text-left mt-3">
          <a href="javascript: void(0);" class="btn btn-success btn-circle btn-sm"><i class="fas fa-check"></i></a><span class="ml5">체크된 것</span>
          <span id="modify-auth1"></span>
          <span id="write-auth2"></span>
          <span id="remove-auth1"></span>
        </div>

        <nav aria-label="Page navigation" class="text-center">
          <ul class="pagination"></ul>
        </nav>
      </div>
    </div>
  </div>

  <script th:inline="javascript">
		/*<![CDATA[*/

      var minNumberLen = 1;
      var maxNumberLen = 100;
      /**
       * 페이지 HTML 렌더링
       */
      var codemap = {
        [# th:each="code, loop : ${cdmapper}"]
          "[(${code.cdId})]": "[(${code.cdNm})]",
        [/]
      };

      window.onload = () => {
        setQueryStringParams();
        findAll();
        addEnterSearchEvent();
      }

      /**
        * 키워드 - 엔터 검색 이벤트 바인딩
        */
      function addEnterSearchEvent() {
        document.getElementById('searchWord').addEventListener('keyup', (e) => {
          if (e.keyCode === 13) {
            findAll(0);
          }
        });
      }

      function drawPages(params) {

        if (!params) {
          document.querySelector('.pagination').innerHTML = '';
          return false;
        }

        let html = '';
        const pagination = params;

        let startPage = pagination.startPage;
        let endPage = pagination.endPage;
        let nextStartPage = pagination.endPage+1 >= pagination.totalPage ? pagination.totalPage : pagination.endPage+1;

        // 첫 페이지, 이전 페이지
        if (pagination.hasPrev) {
          html += `
            <li><a href="javascript:void(0)" onclick="findAll(0);" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <li><a href="javascript:void(0)" onclick="findAll(`+(startPage)+`);" aria-label="Previous"><span aria-hidden="true">&lsaquo;</span></a></li>
          `;
        }

        // 페이지 번호
        for (let i = startPage ; i < endPage ; i++) {
          const active = ((i) === (pagination.currentPage-1)) ? 'class="active"' : '';
          html += '<li '+active+'><a href="javascript:void(0)" onclick="findAll(\''+(i+1)+'\')">'+(i+1)+'</a></li>';
        }

        // 다음 페이지, 마지막 페이지
        if (pagination.hasNext) {
          html += `
            <li><a href="javascript:void(0)" onclick="findAll(`+(nextStartPage)+`);" aria-label="Next"><span aria-hidden="true">&rsaquo;</span></a></li>
            <li><a href="javascript:void(0)" onclick="findAll(`+(pagination.totalPage)+`);" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
          `;
        }

        document.querySelector('.pagination').innerHTML = html;
      }

      function fncSearch(page){
        const form = document.getElementById('searchForm');
        let searchWord = form.searchWord.value;
        if(searchWord.length < 2){
          alert('2글자 이상 입력해주세요.');
          return false;
        }

        findAll(page);
      }

      /**
       * 게시글 리스트 조회
       */
      function findAll(page) {

        const form = document.getElementById('searchForm');

        const pageParams = Number(new URLSearchParams(location.search).get('page'));
        page = page ? page : (pageParams ? pageParams : 1);

        var params = {
          currentPage: page
          , searchStore: form.searchStore.value
          , searchMaterial: form.searchMaterial.value
          , searchStdt: form.searchStdt.value
          , searchEddt: form.searchEddt.value
          , searchStep: form.searchStep.value
          , recordCount: form.recordCount.value
          , searchWord: form.searchWord.value
        }
        checkListNullParams(params);

        const queryString = new URLSearchParams(params).toString();
        const replaceUri = location.pathname + '?' + queryString;
        history.replaceState({}, '', replaceUri);

        getJson('/api/elasticsearch/order/list', params).then(response => {
          let accessAuth = 'N', writeAuth = 'N', viewAuth = 'N', modifyAuth = 'N', removeAuth = 'N';
          if (!Object.keys(response).length || response.menuAuthResponseDto == null) {
            altNoAuth();
            goMainPage();
            return false;
          }
          else {
            accessAuth = checkNullValR(response.menuAuthResponseDto.accessAuth, 'N');
            if(accessAuth != 'Y'){
              altNoAuth();
              goMainPage();
              return false;
            }
            writeAuth = checkNullValR(response.menuAuthResponseDto.writeAuth, 'N');
            viewAuth = checkNullValR(response.menuAuthResponseDto.viewAuth, 'N');
            modifyAuth = checkNullValR(response.menuAuthResponseDto.modifyAuth, 'N');
            removeAuth = checkNullValR(response.menuAuthResponseDto.removeAuth, 'N');

            //등록 권한 관련 버튼 체크
            if(writeAuth == 'Y'){
              let writeAuthBtn = `
                <a href="javascript: void(0);" onclick="fncPopupCustomerOrderWrite(); return false;" class="btn btn-primary waves-effect waves-light">고객</a>
                <a href="javascript: void(0);" onclick="fncPopupReadMadeOrderWrite(); return false;" class="btn btn-danger waves-effect waves-light ml5">기성</a>
              `;
              document.getElementById('write-auth1').innerHTML = writeAuthBtn;
              writeAuthBtn = `
                <a href="javascript: void(0);" onclick="fncOrderToStock(); return false;" class="btn btn-primary btn-icon-split btn-sm mlr5"><span class="text">재고등록</span></a>
              `;
              document.getElementById('write-auth2').innerHTML = writeAuthBtn;
            }
            else {
              removeAuthButton('write-auth1');
              removeAuthButton('write-auth2');
            }

            if(modifyAuth == 'Y'){
              let modifyAuthBtn = `
                <a href="javascript: void(0);" onclick="fncPopupStepModify(); return false;" class="btn btn-primary btn-icon-split btn-sm mlr5"><span class="text">단계변경</span></a>
                <a href="javascript: void(0);" onclick="fncPopupCustomerModify(); return false;" class="btn btn-primary btn-icon-split btn-sm mlr5"><span class="text">고객변경</span></a>
                <a href="javascript: void(0);" onclick="fncPopupVenderModify(); return false;" class="btn btn-primary btn-icon-split btn-sm mlr5"><span class="text">제조사 변경</span></a>
              `;
              document.getElementById('modify-auth1').innerHTML = modifyAuthBtn;
            }
            else {
              removeAuthButton('modify-auth1');
            }

            //삭제 권한 관련 버튼 체크
            if(removeAuth == 'Y'){
              let removeAuthBtn = `
                <a href="javascript: void(0);" onclick="fncRemove(); return false;" id="remove-btn" class="btn btn-danger btn-icon-split btn-sm mlr5"><span class="text">삭제</span></a>
              `;
              document.getElementById('remove-auth1').innerHTML = removeAuthBtn;
            }
            else {
              removeAuthButton('remove-auth1');
            }
          }
          if(!form.searchWord.value){
            document.getElementById('list').innerHTML = '<td colspan="14" class="text-center">검색어를 입력해주세요.</td>';
            drawPages();
            return false;
          }

          if (!Object.keys(response).length || response.list == null || response.list.length == 0) {
            document.getElementById('list').innerHTML = '<td colspan="14" class="text-center">주문내역이 없습니다.</td>';
            drawPages();
            return false;
          }

          let html = '';
          let num = response.params.totalCount - (response.params.currentPage-1) * response.params.recordCount;
          response.list.forEach((obj, idx) => {
            html += `
              <tr class="small">
                <td class="text-center">
            `;
            if(viewAuth == 'Y'){
              html += `<a href="javascript: void(0);" onclick="fncPopupView('`+checkNullVal(obj.orderNo)+`','`+checkNullVal(obj.orderType)+`'); return false;">` + (num--) + `</a>`;
            }
            else {
              html += (num--);
            }
            html += `
                </td>
                <td class="text-center"><input type="checkbox" name="orderNoArr" class="form-check" value="`+checkNullVal(obj.orderNo)+`"/></td>
                <td class="text-center">
                  <input type="hidden" id="orderTypeArr_`+checkNullVal(obj.orderNo)+`" value="`+checkNullVal(obj.orderType)+`"/>
                  <div>접:` + checkSubstringNullVal(obj.receiptDt,0,10) + `</div>
                  <div>주:` + checkSubstringNullVal(obj.expectedOrdDt,0,10) + `</div>
                </td>
                <td class="text-center">`+ (checkNullVal(obj.orderType) == 'CUSTOMER' ? '고객<br/>주문' : '기성<br/>주문') + `</td>
                <td class="text-center bold">
                  `+checkNullVal(codemap[obj.storeCd])+`<br/>`+checkNullVal(obj.customerNm)+`
                </td>
            `;
            html += `
                <td class="text-center">
            `;
            filePath = checkNullVal(obj.filePath);
            if(filePath == ''){
              html += `
                <img src="/img/no-image.png" width="60px;" height="60px"/>
              `;
            }
            else {
              html += `
                <img src="/file/image/display?filePath=`+filePath+`&fileName=`+checkNullVal(obj.fileNm)+`" width="60px;" height="60px"/>
              `;
            }
            html += `
                </td>
                <td class="text-center">` + checkNullVal(obj.modelId)+`</td>
                <td class="text-center"><span class="important">` + checkNullVal(codemap[obj.materialCd])+`</span><br/>`+checkNullVal(codemap[obj.colorCd])+`</td>
                <td class="text-center">` + checkNullVal(obj.quantity) + `</td>
                <td class="text-center">` + checkNullVal(obj.mainStoneType) + `<br/>` + checkNullVal(obj.subStoneType) + `</td>
                <td class="text-center">` + checkNullVal(obj.size) + `</td>
                <td class="text-left">` + checkNullVal(obj.orderDesc) + `</td>
                <td class="text-center">` + checkNullVal(obj.venderNm) + `<br/>` + checkNullVal(obj.venderNo) + `</td>
                <td class="text-center">` + checkNullVal(obj.orderStep) + `</td>
              </tr>
            `;
          });


          document.getElementById('list').innerHTML = html;
          drawPages(response.params);

        });
      }

      /**
       * 작성하기(고객)
       */
      function fncPopupCustomerOrderWrite() {
        var url = "/order/popup/customer/write";
        var name = "orderCustomerWritePopup";
        var option = "width = 1200, height = 800, top = 100, left = 200, location = no";
        window.open(url, name, option);
      }

      /**
       * 작성하기(기성)
       */
      function fncPopupReadMadeOrderWrite() {
        var url = "/order/popup/read-made/write";
        var name = "orderReadMadeWritePopup";
        var option = "width = 1200, height = 800, top = 100, left = 200, location = no";
        window.open(url, name, option);
      }

      /**
       * 수정하기
       */
      function fncPopupView(orderno, ordertype) {
        var url = ordertype == 'CUSTOMER' ? "/order/popup/customer/"+orderno : "/order/popup/read-made/"+orderno;
        var name = "orderViewPopup";
        var option = "width = 1150, height = 800, top = 100, left = 200, location = no";
        window.open(url, name, option);
      }
      /**
       * 수정하기
       */
      function fncPopupModify(customerno) {
        var url = "/order/popup/modify/"+customerno;
        var name = "orderModifyPopup";
        var option = "width = 1000, height = 800, top = 100, left = 200, location = no";
        window.open(url, name, option);
      }

      function fncRemove(){
        if(!isValidToken())
          return false;

        var orderscheckcnt = 0;
        $(".form-check").each(function(){
          if($(this).is(":checked")){
            orderscheckcnt++;
          }
        });
        if(orderscheckcnt == 0){
          alert('삭제할 주문이력을 선택해주세요.');
          return false;
        }
        if(confirm('삭제하시겠습니까?')){
          const formData = new FormData();
          $(".form-check").each(function(){
            if($(this).is(":checked"))
              formData.append("orderNoArr[]", checkNullVal($(this).val()));
          });

          fetch('/api/order/orders/remove', {
            method: 'PATCH',
            headers: {
              'Authorization': getToken()
            },
            body: formData
          }).then(response => {
            if(!response.ok){
              if(response.status == '403'){
                altNoAuth();
                refresh();
                return false;
              }
              else {
                throw new Error('Request Failed...');
              }
            }
            alert('삭제되었습니다.');
            refresh();
          }).catch(error => {
            alert('오류가 발생하였습니다.');
          });
        }
      }

      function fncPopupStepModify(){
        var ordersno = '';
        $(".form-check").each(function(){
          if($(this).is(":checked")){
            if(ordersno != '')
              ordersno += ',';
            ordersno += $(this).val();
          }
        });

        if(ordersno == ''){
          alert('주문내역을 선택해주세요.');
          return false;
        }

        var url = "/order/popup/step/modify?menuId=order&ordersno="+ordersno;
        var name = "orderStepModifyPopup";
        var option = "width = 500, height = 300, top = 100, left = 200, location = no";
        window.open(url, name, option);
      }

      function fncPopupCustomerModify(){
        var ordersno = '';
        $(".form-check").each(function(){
          if($(this).is(":checked")){
            if(ordersno != '')
              ordersno += ',';
            ordersno += $(this).val();
          }
        });

        if(ordersno == ''){
          alert('주문내역을 선택해주세요.');
          return false;
        }

        var url = "/order/popup/customer/modify?menuId=order&ordersno="+ordersno;
        var name = "orderCustomerModifyPopup";
        var option = "width = 1100, height = 800, top = 100, left = 200, location = no";
        window.open(url, name, option);
      }

      function fncPopupVenderModify(){
        var ordersno = '';
        $(".form-check").each(function(){
          if($(this).is(":checked")){
            if(ordersno != '')
              ordersno += ',';
            ordersno += $(this).val();
          }
        });

        if(ordersno == ''){
          alert('주문내역을 선택해주세요.');
          return false;
        }

        var url = "/order/popup/vender/modify?menuId=order&ordersno="+ordersno;
        var name = "orderVenderModifyPopup";
        var option = "width = 1100, height = 800, top = 100, left = 200, location = no";
        window.open(url, name, option);
      }

      function fncOrderToStock(){
        var ordersno = '';
        var customercnt = 0;
        var nocustomercnt = 0;
        $(".form-check").each(function(){
          if($(this).is(":checked")){
            if(ordersno != '')
              ordersno += ',';
            ordersno += $(this).val();
            if($("#order_type_arr_"+$(this).val()).val() == 'CUSTOMER'){
              customercnt++;
            }
            else {
              nocustomercnt++;
            }
          }
        });

        if(ordersno == ''){
          alert('주문내역을 선택해주세요.');
          return false;
        }

        if(customercnt > 0 && nocustomercnt > 0){
          alert('재고등록시 고객주문과 기성주문을 별도로 등록가능합니다.');
          return false;
        }

        if(customercnt > 1){
          alert('재고등록시 고객 주문은 1건만 등록가능합니다.');
          return false;
        }

        var partUri = (customercnt == 0 && nocustomercnt > 0) ? 'nc-stock' : 'stock';
        var url = '/order/popup/orders/'+partUri+'/write?menuId=order&ordersno='+ordersno;
        var name = "orderVenderModifyPopup";
        var option = "width = 1500, height = 800, top = 100, left = 200, location = no";
        window.open(url, name, option);
      }

      function refresh(){
        findAll(/*[[${param.currentPage}]]*/);
      }

      function allCheck(obj){
        if($(obj).is(":checked"))
          $(".form-check").attr("checked", true);
        else
          $(".form-check").attr("checked", false);
      }

    /*]]>*/
	</script>
</th:block>
</html>