<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/admin_popup_layout">
<th:block layout:fragment="content">
  <div class="card shadow mt-4 mb-4">
    <div class="card-header py-3 text-center">
      <h6 class="m-0 font-weight-bold text-primary">주문 등록</h6>
    </div>
    <div class="card-body">
      <form id="form" class="form-horizontal">
        <div class="table-responsive clearfix">
          <table class="table">
            <colgroup>
              <col />
              <col width="23%"/>
              <col width="23%"/>
              <col width="23%"/>
            </colgroup>
            <tbody>
            <tr>
              <td rowspan="4" class="text-center border-right">
                <label for="file"><img src="/img/no-image.png" id="preview" width="300px" height="250px"/></label>
                <input type="file" name="file" id="file" class="custom-file-input" style="display:none;"/>
              </td>
              <td class="bg-light border-right text-center">매장<span class="important"> *</span></td>
              <td class="bg-light border-right text-center">접수일<span class="important"> *</span></td>
              <td class="bg-light text-center">주문예정일<span class="important"> *</span></td>
            </tr>
            <tr>
              <td class="text-center border-right mtb5">
                <select name="storeCd" id="storeCd" class="form-control form-data">
                  <option th:each="cditem : ${stlist}" th:value="${cditem.cdId}" th:text="${cditem.cdNm}"></option>
                </select>
              </td>
              <td class="text-center border-right">
                <input type="date" name="receiptDt" id="receiptDt" class="form-control form-data mtb5" th:value="${today}" maxlength="10"/>
              </td>
              <td class="text-center">
                <input type="date" name="expectedOrdDt" id="expectedOrdDt" class="form-control form-data mtb5" th:value="${today}" maxlength="10"/>
              </td>
            </tr>
            <tr>
              <td class="bg-light border-right text-center">고객코드<span class="important"> *</span></td>
              <td class="bg-light border-right text-center">고객명</td>
              <td class="bg-light text-center">연락처</td>
            </tr>
            <tr class="border-bottom">
              <td class="text-center border-right">
                <div class="input-group-append">
                  <input type="text" name="customerNo" id="customerNo" class="form-control form-data mtb5" readonly="readonly"/>
                  <i class="fas fa-search fa-sm ml5 mt15" onclick="fncCustomerListPop(); return false;"></i>
                </div>
              </td>
              <td class="text-center border-right">
                <input type="text" name="customerNm" id="customerNm" class="form-control form-data mtb5" readonly="readonly"/>
              </td>
              <td class="text-center">
                <input type="text" name="customerCel" id="customerCel" class="form-control form-data mtb5" readonly="readonly"/>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive clearfix mt-3">
          <table class="table">
            <colgroup>
              <col width="3%"/>
              <col width="4%"/>
              <col width="9%"/>
              <col width="9%"/>
              <col width="10%"/>
              <col width="10%"/>
              <col width="10%"/>
              <col width="9%"/>
              <col width="6%"/>
              <col width="6%"/>
              <col width="8%"/>
              <col />
            </colgroup>
            <thead>
            <tr>
              <th rowspan="2" class="text-center border-right">No</th>
              <th rowspan="2" class="text-center border-right">취소</th>
              <th rowspan="2" class="text-center border-right">시리얼</th>
              <th rowspan="2" class="text-center border-right">모델<br/>번호</th>
              <th rowspan="2" class="text-center border-right">제조사</th>
              <th rowspan="2" class="text-center border-right">재질</th>
              <th rowspan="2" class="text-center border-right">색상</th>
              <th rowspan="2" class="text-center border-right">수량</th>
              <th colspan="2" class="text-center border-right">스톤</th>
              <th rowspan="2" class="text-center border-right">사이즈</th>
              <th rowspan="2" class="text-center">주문 설명</th>
            </tr>
            <tr>
              <th class="text-center border-right">메인</th>
              <th class="text-center border-right">보조</th>
            </tr>
            </thead>
            <tbody>
              <th:block th:each="idx : ${#numbers.sequence(0,29)}">
                <tr>
                  <td class="text-center border-right" th:text="${idx+1}"></td>
                  <td class="text-center border-right">
                    <a href="#" th:onclick="fncValueInit([[${idx}]]); return false;" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash"></i></a>
                  </td>
                  <td class="text-center border-right">
                    <input type="text" name="serialIdArr" th:id="'serialId_'+${idx}" class="form-control mtb5" maxlength="20"/>
                  </td>
                  <td class="text-center border-right">
                    <input type="hidden" name="catalogNoArr" th:id="'catalogNo_'+${idx}" class="form-data"/>
                    <div class="input-group-append">
                      <input type="text" name="modelIdArr" th:id="'modelId_'+${idx}" class="form-control mtb5 beadcnt" readonly="readonly"/>
                      <i class="fas fa-search fa-sm ml5 mt15" th:onclick="fncCatalogListPop([[${idx}]]); return false;"></i>
                    </div>
                  </td>
                  <td class="text-center border-right">
                    <input type="hidden" name="venderNoArr" th:id="'venderNo_'+${idx}" class="form-data"/>
                    <div class="input-group-append">
                      <input type="text" name="venderNmArr" th:id="'venderNm_'+${idx}" class="form-control mtb5 beadcnt" readonly="readonly"/>
                      <i class="fas fa-search fa-sm ml5 mt15" th:onclick="fncVenderListPop([[${idx}]]); return false;"></i>
                    </div>
                  </td>
                  <td class="text-center border-right">
                    <select name="materialCdArr" th:id="'materialCd_'+${idx}" class="form-control mtb5">
                      <option value="">선택</option>
                      <option th:each="cditem : ${smlist}" th:value="${cditem.cdId}" th:text="${cditem.cdNm}"></option>
                    </select>
                  </td>
                  <td class="text-center border-right">
                    <select name="colorCdArr" th:id="'colorCd_'+${idx}" class="form-control mtb5">
                      <option value="">선택</option>
                      <option th:each="cditem : ${sclist}" th:value="${cditem.cdId}" th:text="${cditem.cdNm}"></option>
                    </select>
                  </td>
                  <td class="text-center border-right">
                    <input type="number" name="quantityArr" th:id="'quantity_'+${idx}" class="form-control mtb5" value="1" min="1"/>
                  </td>
                  <td class="text-center border-right">
                    <input type="text" name="mainStoneTypeArr" th:id="'mainStoneType_'+${idx}" class="form-control mtb5" maxlength="20"/>
                  </td>
                  <td class="text-center border-right">
                    <input type="text" name="subStoneTypeArr" th:id="'subStoneType_'+${idx}" class="form-control mtb5" maxlength="20"/>
                  </td>
                  <td class="text-center border-right">
                    <input type="text" name="sizeArr" th:id="'size_'+${idx}" class="form-control mtb5" maxlength="20"/>
                  </td>
                  <td class="text-center border-right">
                    <input type="text" name="orderDescArr" th:id="'orderDesc_'+${idx}" class="form-control mtb5" maxlength="500"/>
                  </td>
                </tr>
              </th:block>
            </tbody>
          </table>
        </div>
        <div class="btn_wrap text-center">
          <a href="javascript: void(0);" onclick="fncSave(); return false;" class="btn btn-primary waves-effect waves-light mlr5">등록</a>
          <a href="javascript: void(0);" onclick="fncClose(); return false;" class="btn btn-secondary waves-effect waves-light mlr5">닫기</a>
        </div>
      </form>
    </div>
  </div>

  <script>
		/*<![CDATA[*/
			$(document).ready(function(){
				const inputElement = document.getElementById("file");
				inputElement.addEventListener("change", readURL, false);
			  checkAuth();
			});

			function readURL() {
			  if (this.files && this.files[0]) {
			    var reader = new FileReader();
			    reader.onload = function(e) {
			      document.getElementById('preview').src = e.target.result;
			    };
			    reader.readAsDataURL(this.files[0]);
			    document.getElementById('file-label').innerHTML = this.files[0].name;
			  } else {
			    document.getElementById('preview').src = "";
			    document.getElementById('file-label').innerHTML = '파일 첨부하기';
			  }
			}

      function checkAuth() {
        if(!isValidToken())
          return false;

        const params = {
					'menuId': 'order'
				};

        fetch(`/api/menuauth/user/auth`, {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
						'Authorization': getToken()
					},
					body: JSON.stringify(params)
				}).then(response => {
          if (!response.ok) {
            throw new Error('Request failed...');
          }
          return response.json();
        }).then(json => {
          if(checkNullValR(json.writeAuth, 'N') != 'Y'){
            altNoAuth();
            fncParentRefresh();
            fncClose();
          }
        }).catch(error => {
          alert('오류가 발생하였습니다.');
          fncClose();
        });
			}

			function fncSave(){
				if( !isValidToken() )
					return false;

				if($("#storeCd").val() == ''){
					alert('매장을 선택해주세요.');
					$("#storeCd").focus();
					return false;
				}
				if($("#receiptDt").val() == ''){
					alert('접수일을 입력해주세요.');
					$("#receiptDt").focus();
					return false;
				}
				if($("#expectedOrdDt").val() == ''){
					alert('주문예정일을 입력해주세요.');
					$("#expectedOrdDt").focus();
					return false;
				}
				if($("#customerNo").val() == ''){
					alert('고객을 선택해주세요.');
					$("#customerNo").focus();
					return false;
				}

				var catalogflag = false;
				$("input[name=catalogNoArr]").each(function(){
					if($(this).val() != '' && Number($(this).val()) > 0) {
						catalogflag = true;
					}
				});

				if(catalogflag == false){
					alert('1개 이상의 모델을 선택해주세요.');
					$("input[name=catalogNoArr]").eq(0).focus();
					return false;
				}

				const fileField = document.querySelector('input[type="file"]');
				const formData = new FormData();
				formData.append("orderType", "CUSTOMER");
				formData.append("orderStep", "A");
				$(".form-data").each(function(){
					formData.append($(this).attr("name"), checkNullVal($(this).val()));
				});
				$("input[name=serialIdArr]").each(function(){
					formData.append("serialIdArr[]", checkNullVal($(this).val()));
				});
				$("input[name=catalogNoArr]").each(function(){
					formData.append("catalogNoArr[]", checkNullVal($(this).val()));
				});
				$("input[name=modelIdArr]").each(function(){
					formData.append("modelIdArr[]", checkNullVal($(this).val()));
				});
				$("input[name=venderNoArr]").each(function(){
					formData.append("venderNoArr[]", checkNullVal($(this).val()));
				});
				$("input[name=venderNmArr]").each(function(){
					formData.append("venderNmArr[]", checkNullVal($(this).val()));
				});
				$("select[name=materialCdArr]").each(function(){
					formData.append("materialCdArr[]", checkNullVal($(this).val()));
				});
				$("select[name=colorCdArr]").each(function(){
					formData.append("colorCdArr[]", checkNullVal($(this).val()));
				});
				$("input[name=quantityArr]").each(function(){
					formData.append("quantityArr[]", checkNullVal($(this).val()));
				});
				$("input[name=mainStoneTypeArr]").each(function(){
					formData.append("mainStoneTypeArr[]", checkNullVal($(this).val()));
				});
				$("input[name=subStoneTypeArr]").each(function(){
					formData.append("subStoneTypeArr[]", checkNullVal($(this).val()));
				});
				$("input[name=sizeArr]").each(function(){
					formData.append("sizeArr[]", checkNullVal($(this).val()));
				});
				$("input[name=orderDescArr]").each(function(){
					formData.append("orderDescArr[]", checkNullVal($(this).val()));
				});
				//배열 데이터 넣기
				formData.append("file", fileField.files[0]);

				fetch('/api/order/write', {
					method: 'POST',
					headers: {
					  'Authorization': getToken()
					},
					body: formData
				}).then(response => {
					if(!response.ok){
						if(response.status == '403'){
              altNoAuth();
              fncParentRefresh();
              fncClose();
              return false;
            }
            else {
              throw new Error('Request Failed...');
            }
					}
					alert('저장되었습니다.');
					fncParentRefresh();
					fncClose();
				}).catch(error => {
					alert('오류가 발생하였습니다.');
				});
			}

			function fncValueInit(idx){
				$("#catalogNo_"+idx).val('');
				$("#modelId_"+idx).val('');
				$("#venderNo_"+idx).val('');
				$("#venderNm_"+idx).val('');
				$("#serialId_"+idx).val('');
				$("#materialCd_"+idx).val('');
				$("#colorCd_"+idx).val('');
				$("#quantity_"+idx).val('1');
				$("#mainStoneType_"+idx).val('');
				$("#subStoneType_"+idx).val('');
				$("#size_"+idx).val('');
				$("#orderDesc_"+idx).val('');
			}

			function fncCustomerListPop(){
				var url = "/customer/popup/list";
	      var name = "customerListPopup";
	      var option = "width = 1000, height = 800, top = 100, left = 200, location = no";
	      window.open(url, name, option);
			}

			function fncCatalogListPop(idx){
				var url = "/catalog/popup/list?openeridx="+idx+"&reqtype=all";
	      var name = "catalogListPopup";
	      var option = "width = 1150, height = 800, top = 100, left = 200, location = no";
	      window.open(url, name, option);
			}

			function fncVenderListPop(idx){
				var url = "/vender/popup/list?openeridx="+idx;
	      var name = "venderListPopup";
	      var option = "width = 1000, height = 800, top = 100, left = 200, location = no";
	      window.open(url, name, option);
			}
		/*]]>*/
  </script>
</th:block>
</html>