<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/admin_popup_layout">
<th:block layout:fragment="content">
  <div class="card shadow mb-4">
    <div class="card-header py-3 text-center">
      <h6 class="m-0 font-weight-bold text-primary">고객현황</h6>
    </div>
    <div class="card-body">
      <form id="searchForm" onsubmit="return false;">
        <div class="mb20" id="adv-search">
          <div class="form-inline">
            <input type="text" id="searchWord" class="form-control mlr5" placeholder="계약고객/배우자명을 입력" style="width: auto;" />
            <button type="button" onclick="findAll(0);" class="btn btn-secondary">
              <span aria-hidden="true" class="glyphicon glyphicon-search">검색</span>
            </button>
            <a href="javascript: void(0);" onclick="fncRefresh(); return false;" class="btn btn-warning waves-effect waves-light mlr5">새로고침</a>
            <a href="javascript: void(0);" onclick="fncPopupWrite(); return false;" class="btn btn-primary waves-effect waves-light">자료등록</a>
          </div>
        </div>
      </form>
      <div class="table-responsive clearfix">
        <table class="table table-hover">
          <thead>
          <tr>
            <th rowspan="2" class="">No.</th>
            <th rowspan="2" class="border-left">등록일</th>
            <th rowspan="2" class="border-left">계약구분</th>
            <th rowspan="2" class="border-left">고객코드</th>
            <th colspan="2" class="border-left">계약고객</th>
            <th rowspan="2" class="border-left">비고</th>
          </tr>
          <tr>
            <th class="border-left">이름</th>
            <th class="border-left">H.P</th>
          </tr>
          </thead>
          <tbody id="list"></tbody>
        </table>
        <div class="btn_wrap text-right">
        </div>
        <nav aria-label="Page navigation" class="text-center">
          <ul class="pagination"></ul>
        </nav>
      </div>
    </div>
  </div>

  <script th:inline="javascript">
		/*<![CDATA[*/

      var minNumberLen = 1;
      var maxNumberLen = 100;

      /**
       * 페이지 HTML 렌더링
       */
      var codemap = {
        [# th:each="code, loop : ${cdmapper}"]
          "[(${code.cdId})]": "[(${code.cdNm})]",
        [/]
      };

      window.onload = () => {
        setQueryStringParams();
        findAll();
        addEnterSearchEvent();
      }

      /**
        * 키워드 - 엔터 검색 이벤트 바인딩
        */
      function addEnterSearchEvent() {
        document.getElementById('searchWord').addEventListener('keyup', (e) => {
          if (e.keyCode === 13) {
            findAll(0);
          }
        });
      }

      function drawPages(params) {

        if (!params) {
          document.querySelector('.pagination').innerHTML = '';
          return false;
        }

        let html = '';
        const pagination = params;

        let startPage = pagination.startPage;
        let endPage = pagination.endPage;
        let nextStartPage = pagination.endPage+1 >= pagination.totalPage ? pagination.totalPage : pagination.endPage+1;

        // 첫 페이지, 이전 페이지
        if (pagination.hasPrev) {
          html += `
            <li><a href="javascript:void(0)" onclick="findAll(0);" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <li><a href="javascript:void(0)" onclick="findAll(`+(startPage)+`);" aria-label="Previous"><span aria-hidden="true">&lsaquo;</span></a></li>
          `;
        }

        // 페이지 번호
        for (let i = startPage ; i < endPage ; i++) {
          const active = ((i) === (pagination.currentPage-1)) ? 'class="active"' : '';
          html += '<li '+active+'><a href="javascript:void(0)" onclick="findAll(\''+(i+1)+'\')">'+(i+1)+'</a></li>';
        }

        // 다음 페이지, 마지막 페이지
        if (pagination.hasNext) {
          html += `
            <li><a href="javascript:void(0)" onclick="findAll(`+(nextStartPage)+`);" aria-label="Next"><span aria-hidden="true">&rsaquo;</span></a></li>
            <li><a href="javascript:void(0)" onclick="findAll(`+(pagination.totalPage)+`);" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
          `;
        }

        document.querySelector('.pagination').innerHTML = html;
      }

      /**
       * 게시글 리스트 조회
       */
      function findAll(page) {

        const pageParams = Number(new URLSearchParams(location.search).get('page'));
        page = page ? page : (pageParams ? pageParams : 1);

        const form = document.getElementById('searchForm');

        var params = {
          currentPage: page
          , salesno: /*[[${salesno}]]*/
          , searchWord: form.searchWord.value
        }
        checkListNullParams(params);

        const queryString = new URLSearchParams(params).toString();
        const replaceUri = location.pathname + '?' + queryString;
        history.replaceState({}, '', replaceUri);

        getJson('/api/customer/list', params).then(response => {
          if (!Object.keys(response).length || response.list == null || response.list.length == 0) {
            document.getElementById('list').innerHTML = '<td colspan="7" class="text-center">등록된 고객이 없습니다.</td>';
            drawPages();
            return false;
          }

          let html = '';
          let num = response.params.totalCount - (response.params.currentPage-1) * response.params.recordCount;

          response.list.forEach((obj, idx) => {
            html += `
              <tr>
                <td class="text-center">` + (num--) + `</td>
                <td class="text-center">` + checkSubstringNullVal(obj.regDt,0,10) + `</td>
                <td class="text-center">` + checkNullVal(codemap[checkNullVal(obj.contractCd)]) +`</td>
                <td class="text-center bold">
                  <a href="javascript: void(0);" onclick="fncSave('` + checkNullVal(obj.customerNo) + `', '`+checkNullVal(obj.contractorNm)+`', '`+checkNullVal(obj.contractorCel)+`'); return false;">`+checkNullVal(obj.customerNo)+`</a>
                </td>
                <td class="text-center">` + checkNullVal(obj.contractorNm)+`</td>
                <td class="text-center">` + checkNullVal(obj.contractorCel)+`</td>
                <td class="text-center">`+checkNullVal(obj.etc)+`</td>
              </tr>
            `;
          });

          document.getElementById('list').innerHTML = html;
          drawPages(response.params);
        });
      }

      /**
       * 작성하기
       */
      function fncPopupWrite() {
        var url = "/customer/popup/write";
        var name = "customerWritePopup";
        var option = "width = 1000, height = 800, top = 100, left = 200, location = no";
        window.open(url, name, option);
      }

      function fncSave(customerno, customernm, customercel){
        if(!isValidToken())
          return false;

        const salesno = /*[[${param.salesno}]]*/;
        if(!salesno)
          return false;

        if(confirm('\'' + customernm + '\' 고객으로 변경하시겠습니까?')){
          const formData = new FormData();
          formData.append('customerNo', customerno);
          formData.append('customerNm', customernm);
          formData.append('customerCel', customercel);
          formData.append('saleArr[]', salesno);

          fetch('/api/sale/sales/customer/modify', {
            method: 'PATCH',
            headers: {
              'Authorization': getToken()
            },
            body: formData
          }).then(response => {
            if(!response.ok){
              if(response.status == '403'){
                altNoAuth();
                fncParentRefresh();
                fncClose();
                return false;
              }
              else {
                throw new Error('Request Failed...');
              }
            }
            alert('변경 되었습니다.');
            fncParentRefresh()
            fncClose();
          }).catch(error => {
            alert('오류가 발생하였습니다.');
          });
        }
      }
    /*]]>*/
	</script>
</th:block>
</html>