@charset "UTF-8";
.mt5 {margin-top:5px;}
.mt10 {margin-top:10px;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mt30 {margin-top:30px;}
.mt40 {margin-top:40px;}

.mb10 {margin-bottom:10px;}
.mb15 {margin-bottom:15px;}
.mb20 {margin-bottom:20px;}
.mb30 {margin-bottom:30px;}
.mb40 {margin-bottom:40px;}

.ml5 {margin-left:5px;}
.ml10 {margin-left:10px;}
.ml15 {margin-left:15px;}
.ml20 {margin-left:20px;}

.mlr1 {margin-left:1px; margin-right:1px;}
.mlr2 {margin-left:2px; margin-right:2px;}
.mlr3 {margin-left:3px; margin-right:3px;}
.mlr5 {margin-left:5px; margin-right:5px;}
.mlr10 {margin-left:10px; margin-right:10px;}
.mlr15 {margin-left:15px; margin-right:15px;}
.mlr20 {margin-left:20px; margin-right:20px;}

.mtb5 {margin-top: 5px; margin-bottom: 5px;}
.mtb10 {margin-top: 10px; margin-bottom: 10px;}

.m5 {margin: 5px;}
.m10 {margin: 10px;}
.m15 {margin: 15px;}
.m20 {margin: 20px;}

.weight-400 {font-weight:400;}
.weight-500 {font-weight:500;}
.weight-600 {font-weight:600;}

.vertical-middle {vertical-align:middle;}

.border-left { border-left: 2px solid #e3e6f0; }
.border-right { border-right: 2px solid #e3e6f0; }
.border-top { border-top: 2px solid #e3e6f0; }
.border-bottom { border-bottom: 2px solid #e3e6f0; }

.border-1 { border: 1px solid #e3e6f0 !important; }

.bg-light-grey { background: #f8f9fc; }
.box-shadow { box-shadow: 2px 2px 2px 2px #dddddd; }

.important {color: #e74a3b;}
.blue {color: #4e73df;}
.info {color: #36b9cc;}
.bg-green {background: #32cd32;}
.bg-orange {background: #ff8c00;}
.bg-springgreen {background: #00ff7f;}
.bg-lightyellow {background: #ffffe0;}
.bg-lightyellow3 {background: #ffff66;}

